html {
  font-family: Parkavenue, cursive;
}
html {
    background-color: pink;
}
html {
    border: 25px solid black;
}
body {
    margin: 0 auto;
    max-width: 1000px;
}
h1 {
	text-align: center;
	font-family: Parkavenue, cursive;
	font-size: 600%;
}
p {
	text-align: center;
	font-family: Parkavenue, cursive;
	font-size: 100%; 
}
h2 { 
    text-align:center;
	font-family: Parkavenue, cursive;
	font-size: 100%;
}
.new-entries, .entries-display {
	padding: 10px;
}
ul {
  list-style-type: none;
}
div {
    margin-bottom: 30px;
}